@use "/src/sass/base/variables" as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

:where(ol, ul):where([role="list"]) {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-family: "Barlow", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: $light;
}

.container {
  width: 100%;
  padding-inline: 10px;
}

.just-validate-error-label {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    margin-inline: auto;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}
