@use "/src/sass/base" as *;

.catalog {
  padding-block: 50px 60px;

  &__title {
    margin-top: 60px;
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 13px 50px;
    max-width: 460px;
    margin-top: 60px;
    border: 1px solid $dark;
    padding: 13px 25px;
  }

  &__tab {
    position: relative;
    border: none;
    padding: 0;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;

    &--active::before {
      content: "";
      position: absolute;
      bottom: -2px;
      border: 1px solid #000;
      width: 100%;
      height: 1px;
    }
  }

  &__content {
    margin-top: 60px;
  }

  &__content-item {
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: 340px;
    grid-auto-rows: auto;
  }

  &__card {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);

    img {
      object-fit: cover;
    }
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 77px;
    row-gap: 8px;
    padding: 11px 12px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    border: 1px solid $dark;
    border-top: none;
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    &__content {
      @include angle-decoration;
      position: relative;
      padding: 10px 10px 0;
    }

    &__content-item {
      grid-template-columns: repeat(2, 340px);
      grid-auto-rows: auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .catalog {
    &__content {
      padding: 25px 25px 0;
    }

    &__content-item {
      gap: 35px;
      grid-template-columns: repeat(3, 340px);
      grid-auto-rows: auto;
    }
  }
}

@media screen and (min-width: 1920px) {
  .catalog {
    padding-block: 40px 100px;

    &__title {
      margin-top: 100px;
    }

    &__content {
      padding: 25px 25px 0;
    }

    &__content-item {
      gap: 25px 83px;
      grid-template-columns: repeat(4, 285px);
      grid-auto-rows: auto;
    }

    &__card {
      img {
        height: 180px;
      }
    }

    &__card-content {
      row-gap: 7px;
      min-height: 70px;
      padding: 10px;
    }
  }
}
