.find-us {
  padding-block: 60px;

  &__wrapper {
    margin-top: 60px;

    iframe {
      display: block;
      margin-inline: auto;
      width: 100%;
      height: 206px;
    }
  }
}

@media screen and (min-width: 768px) {
  .find-us {
    &__wrapper {
      iframe {
        width: 663px;
        height: 400px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .find-us {
    &__wrapper {
      iframe {
        width: 663px;
        height: 500px;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .find-us {
    &__wrapper {
      margin-top: 80px;

      iframe {
        width: 801px;
        height: 604px;
      }
    }
  }
}
