@forward "/src/sass/blocks/header";
@forward "/src/sass/blocks/footer";
@forward "/src/sass/blocks/promo";
@forward "/src/sass/blocks/activities";
@forward "/src/sass/blocks/touch";
@forward "/src/sass/blocks/works";
@forward "/src/sass/blocks/catalog";
@forward "/src/sass/blocks/blog";
@forward "/src/sass/blocks/about";
@forward "/src/sass/blocks/findus";
@forward "/src/sass/blocks/animation";
