.promo {
  position: relative;
  padding-top: 50px;

  &__potter {
    display: none;
  }

  &__wrapper {
    margin-top: 50px;
  }

  &__title {
    margin-inline: auto;
    max-width: 330px;
  }

  &__cta {
    margin-top: 40px;
  }

  &__img {
    margin-inline: auto;
    max-width: 270px;
    max-height: 377px;
    box-shadow: 5px 5px 10px 0px #00000040;
  }

  &__btn {
    margin: 18px auto 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .promo {
    &__wrapper {
      display: flex;
      justify-content: end;
      gap: 90px;
    }

    &__title {
      align-self: end;
      text-align: start;
      margin: 0 0 80px;
    }

    &__cta {
      margin-top: 0;
    }

    &__img {
      max-width: 230px;
      max-height: 321px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .promo {
    &__potter {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: clamp(450px, 37.5vw, 640px);
      height: 633px;
      object-fit: cover;
    }

    &__wrapper {
      gap: 10px;
    }

    &__cta {
      animation-name: slideIn;
      animation-duration: 3s;
    }
  }
}

@media screen and (min-width: 1920px) {
  .promo {
    padding-top: 40px;

    &__potter {
      height: 900px;
    }

    &__wrapper {
      margin-top: 80px;
      gap: 30px;
    }

    &__title {
      max-width: 440px;
      margin-bottom: 110px;
    }

    &__img {
      max-width: 330px;
      max-height: 460px;
    }

    &__btn {
      margin-top: 50px;
    }
  }
}
