@use "/src/sass/base" as *;

.touch {
  padding-top: 60px;

  .just-validate-error-field {
    border: 1px solid $ui-error;

    &:hover {
      border: 1px solid $ui-error;
    }

    &:focus {
      border: 1px solid $ui-error;
    }
  }

  &__wrapper {
    position: relative;
    margin-top: 60px;
  }

  &__img {
    display: none;
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: $dark;

    &:nth-child(2) {
      margin-top: 8px;
    }
  }

  &__input {
    width: 100%;
    background: #fff;
    color: $dark;
    border: 1px solid #e2e1e5;
    border-radius: 2px;
    padding: 10px 15px;
    height: 48px;

    &::placeholder {
      color: $ui-disabled;
      font-size: 14px;
    }

    &:focus {
      outline: none;
      border-color: $dark;
    }
  }

  &__textarea {
    width: 100%;
    height: 132px;
    background: #fff;
    resize: none;
    color: $dark;
    border: 1px solid #e2e1e5;
    border-radius: 2px;
    padding: 10px 15px;

    &::placeholder {
      color: $ui-disabled;
      font-size: 14px;
    }

    &:focus {
      outline: none;
      border-color: $dark;
    }
  }

  &__check-block {
    display: flex;
    align-items: center;
    margin-top: 20px;
    a {
      color: #a22dc6;
      text-decoration: none;
    }
  }

  &__checkbox {
    margin-right: 15px;
    width: 15px;
    aspect-ratio: 1;
  }

  &__btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .touch {
    &__wrapper {
      margin-top: 45px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 85px;
        height: 85px;
        background-image: url("/src/img/form/vase.png");
        bottom: 0;
        right: 0;
      }
    }

    &__form {
      margin-left: 24px;
    }

    &__input,
    &__textarea {
      width: 300px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .touch {
    &__wrapper {
      margin-top: 80px;

      &::after {
        animation-name: size;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }

    &__img {
      display: block;
      max-width: 550px;
      height: auto;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    &__form {
      margin-left: 20px;
    }

    &__input {
      &:hover {
        border-color: $dark;
      }
    }

    &__textarea {
      &:hover {
        border-color: $dark;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .touch {
    padding-top: 100px;

    &__img {
      max-width: 573px;
      height: auto;
    }

    &__form {
      margin-left: 147px;
    }

    &__fieldset {
      display: flex;
      column-gap: 45px;
    }
  }
}
